:root {
  --font-family: 'Segoe UI', arial, sans-serif;

  // font sizes
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;

  // font lines
  --font-line-s: 1.2;
  --font-line-m: 1.2;
  --font-line-l: 1.2;

  // paddings
  --padding-button: 7px 20px; // 3px 10px;
  --padding-field: 7px 20px; // 3px 7px
  --padding-section: 20px;
  --padding-modal: 20px;
  --padding-navbar: 5px 0;
  --padding-sidebar: 20px 0;
  --padding-comment: 15px 20px;

  // fonts
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family);
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family);
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family);

  // radiuses
  --border-radius-button: 5px;
  --border-radius-field: 5px;
  --border-radius-section: 7px;
  --border-radius-modal: 7px;

  // heights
  --navbar-height: 52px; // should depends on font size and line height and padding

  // widths
  --width-sidebar: 300px;
  --width-sidebar-collapsed: 80px;

  // avatar
  --avatar-size-small: 30px;
  --avatar-size-medium: 60px;
  --avatar-size-large: 100px;

  // layers
  --z-index-modal: 1000;
}
