.replay {
  position: relative;
  display: block;
  font-size: var(--font-size-s);
  padding: 3px 5px;
  border-radius: var(--border-radius-replay);
  background-color: var(--bg-message-replay);
  overflow: hidden;
  cursor: default;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    background-color: hotpink;
  }
}

.deleted {
  background-color: var(--bg-color-deleted);
}

.user-name {
  color: mediumpurple;
}
