.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 80%);
  z-index: var(--z-index-loader);
}

.substrate {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-main);
  opacity: 0.8;
  border-radius: 50%;
}

.loader {
  font-family: inherit;
  animation: loader 1.5s ease-in-out infinite;
}

@keyframes loader {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
