button {
  padding: var(--padding-button);
  color: var(--color-button-default);
  background-color: var(--bg-button-default);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-button);
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--hover-color-button-default);
    background-color: var(--hover-bg-button-default);
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      color: var(--color-button-default);
      background-color: var(--bg-button-default);
    }
  }
}

.transparent {
  border-color: transparent;
  background: transparent;
}

.primary {
  color: var(--color-button-primary);
  border-color: var(--bg-button-primary);
  background: var(--bg-button-primary);
}

.icon {
  padding: 5px;
}

.checked {
  color: var(--hover-color-button-default);
  background-color: var(--hover-bg-button-default);
}

.app-link {
  color: var(--color-link);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s;

  &:hover {
    color: var(--color-link-hover);
    background: transparent;
  }
}

.loading {
  position: relative;

  &::after,
  &::before {
    content: '';
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid currentcolor;
    position: absolute;
    left: 3px;
    top: calc(50% - 7px);
    opacity: 0;
    animation: loader 2s linear infinite;
  }

  &::after {
    animation-delay: 1s;
  }

  @keyframes loader {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0.1;
    }
  }
}

.outline-red {
  border-color: var(--bg-button-danger);
}
