.message {
  padding: 5px;
  border-bottom: 1px solid var(--color-border);
}

.user {
  display: block;
  color: hotpink;
}

.user-id {
  font-size: var(--font-size-s);
}

.message-text {
  display: block;
  font-size: var(--font-size-m);
}
