$message-element-padding: 5px;

.message {
  position: relative;
  padding: $message-element-padding;
  border-radius: var(--border-radius-message);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: $message-element-padding;
    right: $message-element-padding;
    border-bottom: 1px solid var(--color-border);
  }
}

.deleted {
  background-color: var(--bg-color-deleted);
}

.user {
  display: block;
  color: hotpink;
}

.user-id {
  font-size: var(--font-size-s);
}

.message-text {
  display: block;
  font-size: var(--font-size-m);
}

.time {
  font-size: var(--font-size-s);
  font-style: italic;
  text-align: right;
  color: var(--color-time);
}
